* {
    box-sizing: border-box;
}

#sendAs {
    display: flex;
    background-color: #E74C3C;
    /* text-align: center; */
}

.headerTextContainer {
    flex: 1;
}

.profilePicContainer {
    flex: 1;
    
}

body {
    background-color: #ECF0F1;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

#trashTalk {
     font-family: 'Rubik', Arial, Helvetica;
     color: #ECF0F1;
     margin-left: 5px;
     margin-top: 0px;
     margin-bottom: 0px;
}

.smallImage {
    float: right;
    clear: right;
    margin-top: 1%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
    
}

.largeImage {
    
    width: 90px;
    height: 90px;
    border-radius: 50%;
    
}

#profilePicLarge {
    display: flex;
    justify-content: center;
}

#statusBar {
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #2C3E50;
}

#usernameBox {
    flex: 1 1 auto;

}

#usernameBox h3 {
    color: #ECF0F1;
    
}

#userStatusBox {
    flex: 9 1 auto;
}

#userStatusBox h3 {
    color: #ECF0F1;
}


#usernameDisplay {
    font-family: 'Rubik', Arial, Helvetica;
}

h3 {
    font-family: 'Rubik', Arial, Helvetica;
    margin-top: 0px;
    margin-bottom: 0px;
}

.footer-prompt {
    position: fixed;
    bottom:0px;
    left:0px;
    width:100%;
    min-height:25px;
    background-color:#333;
    text-align: center;
    display: none;;
}

#chatBox {
    width:100%;
    position: absolute;
    bottom:70px;
    top:80px;
    right:0px;
    left:0px;
    /* background: #eee; */
    /*border:1px solid #333;*/
}

#chatBox div {
    display: flex;
    background-color: #3498DB;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 2vw;
}

#chatInput {
    position:fixed;
    left:0px;
    bottom:0;
    width:100%;
    background-color:#ccc;
    display: flex;
    justify-content: space-between;
    height: 70px;
}

#profileInfo {
    margin: auto;
    width: 50%;
    text-align: center;
}

#profileInput {
    text-align: center;
    /*margin: auto;*/
    width: 110%;
}

#chatInput input {
    width:100%;
}

#chatInput button {
    /* margin:0px 10px; */
    background-color: #E74C3C;
}

#editProfile {
    text-align: center;
}

#backBanner {
    background-color: #E74C3C;
    /* /height: 30px; */
    display: flex;
}

#backBannerContainer {
    align-items: center;
}

#backBanner h3 {
    color: #ECF0F1;
    
}

#profilePicLarge {
    height: 150px;
    margin-top: 70px;
    text-align: center;
}

