* {
    box-sizing: border-box;
}

#sendAs {
    display: flex;
    background-color: #E74C3C;
    /* text-align: center; */
}

.headerTextContainer {
    flex: 1;
}

.profilePicContainer {
    flex: 1;
    
}

body {
    background-color: #ECF0F1;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

#trashTalk {
     font-family: 'Rubik', Arial, Helvetica;
     color: #ECF0F1;
     padding-left: 5%;
     margin-top: 0px;
     margin-bottom: 0px;
}

.smallImage {
    float: right;
    clear: right;
    margin-top: 1%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5%;
    
}

.largeImage {
    
    width: 90px;
    height: 90px;
    border-radius: 50%;
    
}

#profilePicLarge {
    display: flex;
    justify-content: center;
}

#statusBar {
    display: flex;
    flex-direction: row;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: #2C3E50;
}

#usernameBox {
    flex: 1 1 auto;

}

#usernameBox h3 {
    color: #ECF0F1;

    
}

#userStatusBox {
    flex: 9 1 auto;
}

#userStatusBox h3 {
    color: #ECF0F1;
}


#usernameDisplay {
    font-family: 'Rubik', Arial, Helvetica;
    /* padding-left: 5%; */
}

h3 {
    font-family: 'Rubik', Arial, Helvetica;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

.footer-prompt {
    position: fixed;
    bottom:0px;
    left:0px;
    width:100%;
    min-height:25px;
    background-color:#333;
    text-align: center;
    display: none;;
}

#chatBox {
    width:100%;
    /* position: absolute; */
    overflow: auto;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 4%;
    height: 80vh;
    /* background: #eee; */
    /*border:1px solid #333;*/
}

#chatBox div {
    /* display: flex; */
    
    
    /* margin-right: 30px; */
    /* margin-bottom: 10px; */
    
    
}

div > span > h2 {
    font-family: 'Rubik', Arial, Helvetica;
    font-size: 1em;
    /* padding-left: 30px; */
    margin-block-end: 0em;
}

div > span > h3 {
    font-family: 'Rubik', Arial, Helvetica;
    font-size: 0.75em;
    opacity: 50%;
}

.messageBubble {
    background-color: #3498DB;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    padding: 1vw;
}

.messageBubble p {
    margin: 1%;
    color: #ECF0F1;
    font-family: 'Rubik', Arial, Helvetica;
}

#chatInput {
    position:fixed;
    left:0px;
    bottom:0;
    width:100%;
    background-color:#ccc;
    display: flex;
    justify-content: space-between;
    height: 70px;
}

#profileInfo {
    margin: auto;
    width: 50%;
    text-align: center;
}

#profileInput {
    text-align: center;
    /*margin: auto;*/
    width: 110%;
}

#chatInput input {
    width:100%;
    border: none;
}

#newMsg {
    padding: 3%;
    color: #ECF0F1;
    font-family: 'Rubik', Arial, Helvetica;
    background-color: #E74C3C;;
}

::placeholder {
    color: #ECF0F1;
    opacity: 1; 
}

#chatInput button {
    /* margin:0px 10px; */
    background-color: #2C3E50;
    color: #ECF0F1;
    border: none;
    font-family: 'Rubik', Arial, Helvetica;
}

#chatInput button:hover {
    background-color: #E74C3C;
}

#editProfile {
    text-align: center;
}

#backBanner {
    background-color: #E74C3C;
    height: 50px; 
    line-height: 50px;
    padding-left: 3%;
}

#backBanner a {
    text-decoration: none;
}

#backBannerContainer {
    align-items: center;
}

#backBanner h3 {
    color: #ECF0F1;
    
}

#profilePicLarge {
    height: 150px;
    margin-top: 70px;
    text-align: center;
}

#profileInfo p {
    
    margin: 1.5vw;
}

#usernameInput {
    padding: 1em;
}

#profileInfo input {
    border-radius: 3px;
    padding: 3%;
    color: #ECF0F1;
    background-color: #3498DB;
    border: none;
}

#profileInput {
    background-color: none;
}

#profilePicInput {
    background-color: none;
}

#profileInputContainer {
    margin: auto;
    width: 50%;
    text-align: center;
}

#profileInputContainer button {
    background-color: #3498DB;
    color: #ECF0F1;
    height: 40px;
    border: none;
    border-radius: 3px;
    font-family: 'Rubik', Arial, Helvetica;
}

#profileInputContainer button:hover {
    background-color: #E74C3C;
}



